/* --Переменные-- */
:root {
  --brand-color: #212121;
  --secondary-color: #757575;
  --rare-color: #2196f3;
  --bg-color: #2f303a;
  --white-color: #ffffff;
  --btn-bg-hover: #188ce8;
  --btn-bg-secondary-color: #f5f4fa;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--brand-color);
}
ul {
  list-style-type: none;
}
/* --Навигация-- */
.logo,
.link {
  color: var(--brand-color);
  text-decoration: none;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.web-logo {
  color: var(--rare-color);
}

.link:hover,
.link:focus {
  color: var(--rare-color);
}
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.head-nav .active {
  color: var(--rare-color);
}
/*--Секция Герой-- */
.hero {
  background-color: var(--bg-color);
}

.hero-title {
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  text-align: center;
  text-transform: uppercase;
}

.btn-hero {
  color: var(--white-color);
  background-color: var(--rare-color);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: none;
  cursor: pointer;
}

.btn-hero:hover,
.btn-hero:focus {
  background-color: var(--btn-bg-hover);
}
/* --Преимущества-- */
.benefits-title {
  display: none;
}
.detail-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.detail-text {
  color: var(--secondary-color);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* --Портфолио-- */
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  text-align: center;
}

/* -- Наша команда -- */
.team {
  background-color: var(--btn-bg-secondary-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19px;
  letter-spacing: 0.03em;
}

.card-text {
  color: var(--secondary-color);

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* --Футер-- */
.footer {
  background-color: var(--bg-color);
}

.footer-logo {
  color: var(--white-color);
}

.address .link {
  color: var(--white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-list .link:hover,
.address-list .link:focus {
  color: var(--rare-color);
}
/* -- Страница Потрфолио */

.project-title {
  display: none;
}
/* --Фильтры на Проектах-- */
.btn-filter {
  background-color: var(--btn-bg-secondary-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border: none;
  cursor: pointer;
}

.btn-filter:hover,
.btn-filter:focus {
  color: var(--white-color);
  background-color: var(--btn-bg-hover);
}
/* --Карточки работ-- */
.project-card-title {
  color: var(--brand-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-link {
  text-decoration: none;
}

.project-card-text {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
